.passwordGrid {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  align-items: center;
}

.passwordInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  caret-color: transparent;
}

.passwordInput input {
  flex: 1;
  text-align: center;
  padding: 10px 40px 10px 10px;
  border: 2px solid #cccccc;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.passwordInput.error input {
  border: 2px solid lightcoral;
}

.passwordInput input::placeholder {
  text-align: center;
}

.passwordInput input:focus {
  border-color: #f9a825;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.passwordInput.error input:focus {
  border-color: lightcoral;
}

.passwordInput button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.passwordGrid button[type='submit'] {
  width: 100%;
  background-color: #f9a825;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.passwordGrid button[type='submit']:hover {
  background-color: #f57f17;
}

.passwordGrid .reset-password {
  cursor: pointer;

  color: lightslategray;
  text-decoration: underline;

  transition: all 0.3s;
}

.passwordGrid .reset-password:hover {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: goldenrod;
}
