.block-div {
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #3e4a61;
  border-radius: 25px;
  box-shadow:
    0.3px 0.5px 0.7px rgba(62, 74, 97, 0.1),
    0.8px 1.6px 2px -0.8px rgba(62, 74, 97, 0.1),
    2.1px 4.1px 5.2px -1.7px rgba(62, 74, 97, 0.1),
    5px 10px 12.6px -2.5px rgba(62, 74, 97, 0.1);
  
  transition: all 0.3s ease;
}